name: Build-patient-ms

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

on:
  
  workflow_dispatch:
    inputs:
      app_name:
        description: 'Name of the app to build'
        required: true
        default: 'patient-ms/src'

env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_REGION: ${{ secrets.AWS_REGION }}


jobs:
  
  docker:

    permissions:
      id-token: write 
    name: Build and Push Docker Image to ECR
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

        
           

    
    - name: Build Docker image
      working-directory: ${{ github.event.inputs.app_name }}
      run: |
        pwd
        if [[ "${{ github.event.inputs.app_name }}" == "patient-ms/src" ]]; then 
          docker build -t patient-ms . 

    - name: Log in to AWS ECR
      uses: aws-actions/amazon-ecr-login@v1

    - name: Tag Docker image & Push
      working-directory: ${{ github.event.inputs.app_name }} 
      run: |
        if [[ "${{ github.event.inputs.app_name }}" == "patient-ms/src" ]]; then 
          docker tag patient-ms:latest ${{ secrets.ECR_PATIENT_URI }}:${{ github.sha }}
          docker tag patient-ms:latest ${{ secrets.ECR_PATIENT_URI  }}:latest
          #docker push 314146291166.dkr.ecr.ap-south-1.amazonaws.com/dev-patient-repo:latest
          docker push ${{ secrets.ECR_PATIENT_URI }}:latest
          elif [[ "${{ github.event.inputs.app_name }}" == "application-ms/src" ]]; then 
          docker tag ms-app:latest ${{ secrets.ECR_ADMIN_URI  }}:${{ github.sha }}
          docker tag ms-app:latest ${{ secrets.ECR_ADMIN_URI  }}:latest
          docker push ${{ secrets.ECR_ADMIN_URI }}:latest
          docker push ${{ secrets.ECR_ADMIN_URI }}:${{ github.sha }}
        fi
