name: Build-patient-ms

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

on:
  
  workflow_dispatch:
    inputs:
      app_name:
        description: 'Name of the app to build'
        required: true
        default: 'patient-ms/src'

env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_REGION: ${{ secrets.AWS_REGION }}


jobs:
  
  docker:

    permissions:
      id-token: write 
    name: Build and Push Docker Image to ECR
    runs-on: ubuntu-latest

    steps:
   

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: check repo
      run: ls -lrt && pwd
    # - name: Azure Login
    #   uses: Azure/login@v2.3.0
    #   with:
    #     # Paste output of `az ad sp create-for-rbac` as value of secret variable: AZURE_CREDENTIALS
    #     #creds: CLIENT_ID
    #     # ClientId of the Azure Service principal created.
    #     client-id: CLIENT_ID
    #     # TenantId of the Azure Service principal created.
    #     tenant-id: TENANT_ID
    #     # Azure subscriptionId
    #     subscription-id: SUB_ID
        
           

    
    - name: Build Docker image
      working-directory: ${{ github.event.inputs.app_name }}
      run: |
        pwd
        docker build -t ms-patient . 

    - name: Log in to AWS ECR
      uses: aws-actions/amazon-ecr-login@v1

    - name: Tag Docker image & Push
      working-directory: ../patient-ms/src/ 
      run: |
        if [[ "${{ github.event.inputs.app_name }}" == "patient" ]]; then 
          docker tag ms-app:latest ${{ secrets.ACR_PATIENT_URI }}:${{ github.sha }}
          docker tag ms-app:latest ${{ secrets.ACR_PATIENT_URI  }}:latest
          docker push ${{ secrets.ACR_PATIENT_URI }}:latest
