name: Deploy to EKS
on:
  workflow_dispatch:
    inputs:
      manifest_directory:
        description: 'Deployment manifest'
        required: true
        default: 'manifest'

env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_REGION: ${{ secrets.AWS_REGION }}
jobs:
 deploy:
   runs-on: ubuntu-latest
   steps:
     - name: Checkout Code
       uses: actions/checkout@v3
     # - name: Configure AWS Credentials
     #   uses: aws-actions/configure-aws-credentials@v1
     #   with:
     #     aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
     #     aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
     #     aws-region:  ${{ secrets.AWS_REGION }}
     # - name: Login to Amazon ECR
     #   uses: aws-actions/amazon-ecr-login@v1

     - name: Deploy to EKS
       working-directory: ${{ github.event.inputs.manifest_directory }}
       run: |
         aws eks update-kubeconfig --region ap-south-1 --name my-cluster
         ls
         kubectl apply -f patient-deploy.yaml
         kubectl apply -f patient-svc.yaml
